body {margin:10;padding-left:10;padding-right:10;padding-bottom:10;padding-top:2mm;}
div {font-size:16pt;color:#000000;font-family:"Batang";}
span {font-size:16pt;color:#000000;font-family:"한양해서";}
body {padding:0;}
