body {
    font-family: Batang;
	margin-top:24pt;
	margin-bottom:24pt;
	text-align:justify;
	text-indent:0.0pt;
	line-height:160%;
	font-size:11pt;
	letter-spacing:0;
	font-weight:normal;
	font-style:normal;
	color:#000000;
    }

a {
    color: darkslateblue; text-decoration: none;
}
li {
	list-style-type: none;
}

span {
    font-family:"한양해서";
}

.StyleBatang {
	margin-top:10px;
	margin-bottom:10px;
	text-align:justify;
	text-indent:0.0pt;
	line-height:160%;
	font-size:11.0pt;
	font-family:Batang;
	letter-spacing:0;
	font-weight:normal;
	font-style:normal;
	color:#000000;
}

.Hanyang{
    font-family: '한양해서';color: gray;
}

.fontHanyang {
	font-family: "한양해서";
	color:darkgray;
}