body {
    margin: 2px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align:justify;
    text-indent: 0px;
    font-family: serif;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    background-color: rgb(224, 229, 235);
}

table {
    padding: 0;
    width: 90%;
    margin: auto;
}

td{
    vertical-align:top;
}

.borderLeft {
    border-left: 1px solid lightgray;
}

.borderRight {
    border-right: 1px solid lightgray;
}

.borderTop {
    border-top: 1px solid lightblue;
}

.borderBottom {
    border-bottom: 1px solid lightgrey;
}

.borderAll{
    border: 1px solid lightskyblue;
}

a {
  text-decoration: none;
  margin: 6px;
  padding: 6px;
}
a:link, a:visited{
	text-decoration: none;
	color: navy;
}
a:hover, a:active{
    color: blue;
    background-color: #cde;
}
li{
    padding:4px;
    list-style-type:none;
}
span {
    font-family: "한양해서", serif;
}
.gainHan{
        font-family:"한양해서", serif;
        color:gainsboro;
    }
.Batang{
        font-family:"Batang", serif;
        font-size:13pt;
        color:darkblue;
    }

.Padding11 {
    padding: 10px;
    border-right: 1px solid gainsboro;
}
.backGround {
    background: inherit;
    text-align: center;
    font-size: 26px;
    margin: 1px;
    border: none
}

h1 {
    color: navy;
}

b {
    font-weight: normal;
    font-style: italic;
    font-size:15px;
    color: darkgrey;
}
.textShadow{
    font-weight: bolder;
    text-shadow: 2px 2px grey;
}
