*{
  font-family: 'Times New Roman', Times, serif;
}
body {
  width: 90%;
  min-width: 800px;
  max-width: 1200px;
  margin: auto;
  line-height: 1.6rem;
}
button{
  background-color: green;
  color: white;
  margin-top: 10px;
  padding: 5px;
  cursor: pointer;
}

red, em {color: red;}
navy{color: navy;}
dark{color: darkred;}
blue{color: blue;}
green{color: green; font-size: 0.9rem;}

a{
  text-decoration: none;
  color: navy;
  padding: 3px 16px;
}
a:hover {background-color: #def;}
b, i {color: navy;}
li{line-height: 30px;}
hr {border: 1px solid #eee;}

.yellow{
  background-color: #ff9;
  padding: 10px;
  line-height: 1.6rem;
}
.red {
  border-radius: 3px;
  background-color: #fdd;
  padding: 10px;
  margin: 3px;
  line-height: 1.6;
}
.grey{
  border: 1px solid grey;
  border-radius: 3px;
  background-color: #def;
  margin: 3px;
  padding: 6px;
}
.border {
  border: 1px solid grey;
  border-radius: 3px;
  background-color: white;
  color: navy;
  margin: 8px;
  padding: 8px;
}
.pre {
  border: 1px solid #def;
  border-radius: 3px;
  background-color: white;
  color: navy;
  margin: 8px;
  padding: 8px;
  white-space: pre-line
}

pre {
  border: 1px solid #def;
  border-radius: 3px;
  background-color: #fff;
  margin: 8px;
  padding: 6px;
}
pre.comment {
  border: none;
  margin: 0;
  padding: 0;
  display: inline-block;
}

table.index {
  width: 100%;
  min-width: 860px;
  border: 1px solid #def;
  border-spacing: 0px;
  border-collapse: collapse;
}
table.index td {
  padding: 8px;
}

table.even {
  border: 1px solid grey;
  border-collapse: collapse;
  width: 100%;
}
table.even th, table.even td {
  border: 1px solid lightgrey;
  text-align: left;
  padding: 6px;
}
table.even tr:nth-child(even){
  background-color: #eee;
}

h1, h2, h3, h4, h5, h6 {color: navy;}