*{
  font-family: 'Times New Roman', Times, serif;
}
body {
  width: 90%;
  min-width: 800px;
  max-width: 1200px;
  margin: auto;
  line-height: 1.6rem;
}
button{
  background-color: green;
  color: white;
  margin-top: 10px;
  padding: 5px;
  cursor: pointer;
}

red, em {
  color: red;
}
dark{
  color: darkred;
}
navy, i {
  color: navy;
  font-style: italic;
}
blue{
  color: blue;
}
green{
  color: green;
  font-size: 0.9rem;
}

a{
  text-decoration: none;
  color: darkblue;
  padding: 3px 10px;
}
a:hover {background-color: lightblue;}
b, h1, h2, h3, h4, h5, h6 {color: navy;}
li{
  line-height: 30px;
}

table.even{
  width: 100%;
  border: 1px solid #def;
  border-spacing: 0px;
  border-collapse: collapse;
}
table.even th, table.even td {
  text-align: left;
  border-bottom: 1px solid #def;
  padding: 8px;
}
table.even tr:nth-child(even) {
  background-color: #eee;
}

.red {
  background-color: #fdd;
  border-radius: 3px;
  color: navy;
  padding: 10px;
}
.yellow{
  background-color: #ff9;
  border-radius: 3px;
  color: navy;
  padding: 10px;
}
.grey{
border: 1px solid grey;
border-radius: 3px;
background-color: #def;
margin: 3px;
padding: 6px;
}
.border {
border: 1px solid grey;
background-color: white;
color: navy;
margin: 8px;
padding: 16px;
}
pre, .pre {
border: 1px solid #def;
background-color: #fff;
margin: 3px;
padding: 6px;
line-height: 1.6rem;
}
pre.comment {
  display: inline-block;
  border: none;
  margin: 0;
  padding: 0;
}
